*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
}
.container{
    height: 50vh;
    width: 50vw;
    background-color: rgb(203, 224, 241);
}
.draggable-box{
    background-color: rgb(115, 115, 223);
    color: white;
    width: 100px;
    padding: 1em;
    height: 100px;
    display: flex;
    cursor: move;
    position: absolute;
}